<html>
<body>

<div>
    <form method="get" action="/addBook">
        <input type="text" name="name" placeholder="Введите название книги: ">
        <input type="number" name="pubYear" placeholder="Введите год издания книги: ">
        <input type="text" name="desc" placeholder="Введите описание книги: ">
        <input type="number" name="price" placeholder="Введите стоимость книги: ">
        <input type="submit" value="Добавить книгу">
    </form>
</div>

<div>Список книг</div>
{{#books}}
    <div>
        ID: <b>{{id}}</b>
        Book name: <span>{{bookName}}</span>
        Publication year: <span>{{publicationYear}}</span>
        Description: <span>{{description}}</span>
        Price: <i>{{price}}</i>
    </div>
{{/books}}
</body>
</html>